html,
body {
  margin: 0;
  height: 100%;
}

#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%
}

#buttonContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    height: 5vw
}

.btn, .clrbtn {
    height: 3vw;
    width: 10vw;
    min-width: 50px;
    min-height: 25px;
}
#mainDivContainer {
    border: 1px solid red;
    width: 40vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    min-width: 200px;
}

.cellRow {
    /* border: 1px solid gold; */
    flex-grow: 1;
    display: flex;
}

.cell {
    border: 1px solid black;
    flex-grow: 1;
}
/* 
.cell:hover {
    background-color: black;
} */